PORT=3000
SESSION_SECRET=change-moi-avec-une-longue-valeur-aleatoire
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE
ADMIN_EMAIL=tonmail@example.com
ADMIN_PASSWORD=ton-mot-de-passe
ADMIN_PSEUDO=RaPhTC_IDFM
# ADMIN2_EMAIL=...
# ADMIN2_PASSWORD=...
# ADMIN2_PSEUDO=...
