PORT=3000
SESSION_SECRET=change-moi-avec-une-longue-valeur-aleatoire
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=ChangeMoi123!
ADMIN_PSEUDO=RaPhTC_IDFM

# Admins supplémentaires (facultatif)
# ADMIN2_EMAIL=ami@example.com
# ADMIN2_PASSWORD=mot-de-passe-de-ton-pote
# ADMIN2_PSEUDO=PseudoDeTonPote
# Tu peux ajouter ADMIN3_..., ADMIN4_..., etc.
